---
import BaseHead from "@monorepo/components/BaseHead.astro";
import Footer from "@monorepo/components/Footer.astro";
---

<html lang="en">
	<head>
		<BaseHead title="Example Title" description="Example description" />
	</head>
	<body class="mt-navbar">
		<h1 class="font-bold">Hello, world!</h1>
	</body><footer>
		<Footer />
	</footer>
</html>
